/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
 }
 
/* header */
h1 {
    color: white;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* main */
.container {
    width: 800px;
    margin: 30px auto;
}

.card {
    float: left;
    position: relative;
    height: 200px;
    width: 180px;
    /* height: calc(33,3%);
    width: calc(25% - 25px); */
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-repeat: repeat-y;
}

.card:hover,
.card:nth-of-type(6) {
    background-color: white;    
    background-image: none;
}

.card:hover *,
.card:nth-of-type(6) * {
    opacity: 1;
}

.card-front img {
    position: absolute;
    height: 150px;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;    
    /* bottom: 0; */
    opacity: 0;
}

.card-name {
    display: block;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;  
    bottom: 2%;
    font-size: 30px;
    color: #E61986;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
}
.card:hover .card-name {
    color: #e67919;
}

/* footer */
footer {
    text-align: center;
    color: black;
    font-size: 21px;
}
