/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Nerko One', cursive;
    text-align: center;
    background-color: #ADD8E6;
}

 .row::after {
    content: "";
    display: table;
    clear: both;
 }
 
/* header */
h1 {
    color: white;
    font-size: 64px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* main */
.container {
    width: 55%;
    margin: 30px auto;
}

.cards {
    margin: 20px 0;
}

.card-element {
    /* position: relative; */
    float: left;
    width: calc(25% - 30px);
    margin: 15px;
    padding: 20px;
    /* padding: 20px 20px 40px; */
    border-radius: 15px;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-repeat: repeat;    
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    cursor: pointer;
}
       
.card-element img {
    width: 100%;    
    visibility: hidden;
}

.card-element h3 {
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    line-height: 2; */
    color: #E61986;
    line-height: 1;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    visibility: hidden;
}

.card-element:hover,
.card-element.active {
    background-color: white;    
    background-image: none;
}

.card-element:hover *,
.card-element.active * {
    visibility: visible;
}

.card-element:hover h3 {
    color: #e67919;
}

/* footer */
footer {                             
    font-size: 21px;
}
